.dialogContent {
  max-width: 60vw;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

.dialogTitle {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
}

.contentContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

.badgeContainer {
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
}

.badgeMarginLeft {
  margin-left: var(--spacing-xs);
}

.descriptionText {
  font-size: var(--font-size-sm);
  color: var(--color-subtext1);

  a {
    color: var(--color-crust);
  }

  img {
    max-height: 200px;
  }
}

.labelsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-xs);
}

.branchInfo,
.externalLink {
  display: flex;
  align-items: center;
  font-size: var(--font-size-sm);
  color: var(--color-subtext1);
  text-decoration: none;
  gap: var(--spacing-xs);
}

.branchInfo .icon,
.externalLink .icon {
  width: var(--spacing-md);
  height: var(--spacing-md);
  margin-right: var(--spacing-xs);
}

.externalLink {
  color: var(--color-crust);
  cursor: pointer;
}

.externalLink:hover {
  text-decoration: underline;
}

.divider {
  border-top: 2px solid var(--color-overlay2);
  border-radius: var(--spacing-xs);
}

.commentsHeader {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-semibold);
}

.commentsContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  max-height: 50vh;
  overflow-y: auto;
  align-items: flex-start;
}

.mainSection {
  display: flex;
  gap: var(--spacing-md);
  flex-wrap: wrap;
  align-items: flex-start;
}

.card {
  background-color: var(--color-surface1);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  padding: var(--spacing-xs);
  border-radius: var(--spacing-xs);

  &.selected {
    border: 2px solid var(--color-blue);
  }
}

.card.system {
  background-color: var(--color-surface0) !important;
  min-width: 300px;
}

.card.user {
  background-color: var(--color-surface1) !important;
  min-width: 300px;
}

.card.resolved {
  border-left: 4px solid var(--color-green);
  min-width: 300px;
}

.commentHeader {
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
}

.commentAvatar img {
  width: var(--spacing-xxl);
  height: var(--spacing-xxl);
  border-radius: 50%;
  image-rendering: optimizeQuality;
  background-color: var(--color-overlay2);
}

.commentAuthor {
  font-weight: var(--font-weight-medium);
}

.commentText {
  font-size: var(--font-size-sm);

  a {
    color: var(--color-crust);
  }

  img {
    max-height: 200px;
  }
}

.commentText.clamped {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.expandButton {
  font-size: var(--font-size-sm);
  color: var(--color-blue);
  margin-top: var(--spacing-xxs);
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.expandButton:hover {
  text-decoration: underline;
}

.commentImages {
  margin-top: var(--spacing-xs);
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-xs);
}

.commentImage {
  border-radius: var(--spacing-xxs);
  object-fit: cover;
  max-width: 100%;
}
