.kanban {
  padding-inline: var(--spacing-sm);
  display: flex;
  gap: var(--spacing-md);
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 30px;
  padding-top: var(--spacing-sm);
}
