.timetrack {
  padding-inline: var(--spacing-sm);
  display: flex;
  gap: var(--spacing-md);
  justify-content: space-between;
  align-items: flex-start;
  height: calc(100% - 30px - var(--spacing-sm));
}
