.notification {
  min-width: 300px;
  color: var(--color-text);
  padding: var(--spacing-md) var(--spacing-lg);
  border-radius: var(--spacing-xs);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  transform: translateY(20px);
  opacity: 0;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xxs);
  background-color: var(--color-surface1); /* Solid background color */
}

.notification.success {
  border-left: 10px solid var(--color-green);
}

.notification.error {
  border-left: 10px solid var(--color-red);
}

.notification.warning {
  border-left: 10px solid var(--color-yellow);
}

.notification strong {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-semibold);
}

.notification p {
  margin: 0;
  font-size: var(--font-size-sm);
  line-height: 1.4;
}
