.weekCalendarHourRow {
  display: flex;
  border-bottom: 1px solid var(--color-overlay0);
  flex-grow: 1; /* Allows rows to expand and fill remaining space */
}

.weekCalendarHourLabel {
  width: 80px;
  min-width: 80px;
  padding: var(--spacing-sm) var(--spacing-xs);
  background-color: var(--color-surface2);
  border-right: 1px solid var(--color-overlay0);
  text-align: right;
  font-size: var(--font-size-sm);
  color: var(--color-crust);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-sm);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.weekCalendarDayColumn {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--color-overlay0);
}

.weekCalendarQuarterHourCell {
  flex: 1;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  box-sizing: border-box;
  transition: background-color 0.2s;
}

.weekCalendarQuarterHourCell:hover {
  background-color: var(--color-surface1) !important;
}

.weekCalendarHourCell.currentHour {
  background-color: var(--color-surface1);
}

.weekCalendarHourCell:hover {
  background-color: var(--color-surface1) !important;
}

.weekCalendarHourCell:last-child {
  border-right: none;
}

.weekCalendarHourRow:last-child {
  border-bottom: none;
}

.selectedCell {
  border: 1px solid var(--color-green);
}

.currentDay {
  background-color: var(--color-crust);
}
