.statusBar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: calc(100%);
  background-color: var(--color-mantle);
  color: var(--color-text);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: var(--font-size-sm);
  z-index: 1000;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}
.calendarMode {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--color-crust);
  padding: var(--spacing-xxs) var(--spacing-xs);
  border-radius: var(--spacing-xxs);
  font-size: var(--font-size-xs);
  display: inline-block;
  margin-top: var(--spacing-xxs);
  margin-right: var(--spacing-xxs);
  margin-left: var(--spacing-xxs);

  &.time {
    background-color: var(--color-green);
  }

  &.appointment {
    background-color: var(--color-blue);
  }
}
