.badge {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--color-crust);
  padding: var(--spacing-xxs) var(--spacing-xs);
  border-radius: var(--spacing-xxs);
  font-size: var(--font-size-xs);
  display: inline-block;
  margin-top: var(--spacing-xxs);
  margin-right: var(--spacing-xxs);

  &.maxLength {
    max-width: 100px;
  }
}

.badge.default {
  background-color: var(--color-lavender);
  color: var(--color-crust);
}

.badge.secondary {
  background-color: var(--color-surface);
  color: var(--color-text);
}

.badge.outline {
  background-color: var(--color-surface);
  color: var(--color-text);
  border: 1px solid var(--color-crust);
}

.badge.none {
  background-color: var(--color-crust);
  color: var(--color-text);
}

.badge.medium {
  background-color: var(--color-yellow);
}

.badge.low {
  background-color: var(--color-green);
}

.badge.high,
.badge.staging,
.badge.intermediate {
  background-color: var(--color-red);
  color: var(--color-crust);
  animation:
    pulsate 1.5s infinite,
    borderGlow 1.5s linear infinite;
  padding: calc(var(--spacing-xxs) - 2px) calc(var(--spacing-xs) - 2px);
  border: 2px solid transparent;
  position: relative;
  text-transform: uppercase;
  font-weight: var(--font-weight-bold);
}

/* Pulsating effect */
@keyframes pulsate {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1);
  }
}

/* Border animation */
@keyframes borderGlow {
  0% {
    border-color: var(--color-red);
  }
  25% {
    border-color: var(--color-green);
  }
  50% {
    border-color: var(--color-yellow);
  }
  75% {
    border-color: var(--color-green);
  }
  100% {
    border-color: var(--color-red);
  }
}

.badge.deleted {
  background-color: var(--color-red);
  color: var(--color-base);
}

.badge.issue {
  background-color: var(--color-green);
  color: var(--color-base);
}

.badge.custom {
  background-color: var(--color-peach);
  color: var(--color-crust);
}

.badge.mergeRequest {
  background-color: var(--color-blue);
  color: var(--color-crust);
}
