.appointment {
  background-color: var(--color-teal);
  filter: brightness(80%);
  color: var(--color-crust);
  border-radius: var(--spacing-xs);
  text-align: center;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
  width: 100%;

  &.selected {
    border: 2px solid var(--color-red);
  }
}
