*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-sky);
  border-radius: 10px;
}

*::-webkit-scrollbar-track {
  background-color: var(--color-mantle);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-teal);
}

*::-webkit-scrollbar-thumb:active {
  background-color: var(--color-sky);
}

*::-webkit-scrollbar-corner {
  background-color: var(--color-mantle);
}

*::-webkit-scrollbar-button {
  display: none;
}

*::-webkit-scrollbar-track-piece {
  background-color: var(--color-mantle);
}
