.waveText {
  display: flex;
  overflow: hidden;

  --color-start: var(--color-blue);
  --color-end: var(--color-sapphire);

  &.pride {
    --color-start: var(--color-crust);
    --color-end: var(--color-yellow);
  }
}

.waveText span {
  display: inline-block;
  animation:
    wave 2s ease-in-out infinite,
    waveColor 2s ease-in-out infinite;
}

@keyframes wave {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-0.2em);
  }
}

@keyframes waveColor {
  0%,
  100% {
    color: var(--color-start);
  }
  50% {
    color: var(--color-end);
  }
}
